/* 页面淡入淡出 */
@-webkit-keyframes FadeIn {
	0% {
		opacity: 0.01;
	}

	30% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes FadeInLong {
	0% {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes FadeOut {
	0% {
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.anim-fadein {
	-webkit-animation: FadeIn 1s forwards;
	opacity: 0.01;
}

.anim-fadeout {
	-webkit-animation: FadeOut 1s forwards;
}

@-webkit-keyframes anim-music {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes anim-loading {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@-webkit-keyframes anim-option {
	0% {
		background-color: #FFFFFF;
		color: #3181FF;
	}

	20% {
		background-color: #3181FF;
		color: #FFFFFF;
	}

	100% {
		background-color: #3181FF;
		color: #FFFFFF;
	}
}

@-webkit-keyframes anim-optionErr {
	0% {
		background-color: #FFFFFF;
		border: 0.06rem solid #3181FF;
		color: #fe4c00;
	}

	20% {
		border: 0.06rem solid #fe4c00;
		background-color: #fe4c00;
		color: #FFFFFF;
	}

	100% {
		border: 0.06rem solid #fe4c00;
		background-color: #fe4c00;
		color: #FFFFFF;
	}
}

@-webkit-keyframes anim-optionMarkErr {
	0% {
		background-color: #3181FF;
	}

	20% {
		background-color: #fe4c00;
	}

	100% {
		background-color: #fe4c00;
	}
}

@-webkit-keyframes anim-blinkBtn {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(1);
	}

	60% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes anim-blinkShare {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1);
	}

	70% {
		transform: scale(1.12);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes anim-mask {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.7;
	}
}

@keyframes anim-miniDailog {
	from {
		opacity: 0.01;
	}

	to {
		opacity: 0.5;
	}
}

@keyframes anim-blinkTip {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 0.5;
	}

	80% {
		opacity: 1;
	}
}

@-webkit-keyframes anim-shareJump {
	0% {
		top: 0.4rem;
	}

	60% {
		top: 0.4rem;
	}

	80% {
		top: 0.6rem;
	}

	100% {
		top: 0.4rem;
	}
}

@-webkit-keyframes anim-loop {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(-50%);
	}
}

@-webkit-keyframes anim-loop2 {
	from {
		transform: translate(-50%, -50%);
	}

	to {
		transform: translate(-150%, -50%);
	}
}
