<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>寻找年度锦鲤，赢新品全家桶</title>

		<link rel="prefetch stylesheet" type="text/css" href="./css/main.css?v=2108102323">
		<link rel="stylesheet" type="text/css" href="./css/animation.css?v=2108102323">	
		<!-- 引入并初始化腾讯云开发SDK -->
		<script src="//imgcache.qq.com/qcloud/cloudbase-js-sdk/1.6.0/cloudbase.full.js"></script>
		<script src="./js/flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="//s1.mi.com/m/source/scripts/wbs/vue.min.js"></script>
		<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
		<script src="//s1.mi.com/m/source/scripts/wbs/fetch-jsonp.min.js"></script>
	</head>
	<body>
		<audio src="./audio/bgm.mp3" autoplay loop="loop" id="bgM"></audio>
		<!-- Loading Page -->
		<div id="loading-start" class="full-screen">
			<span class="pos-center font-blue" style="font-size:0.6rem;">0%</span>
			<img class="pos-center" src="./img/loading/loading-icon.png?v=2108102323" alt="加载中" />
		</div>
		<!-- Mainapp Vue Page -->
		<div id="mainapp">
			<!-- about Page -->
			<div v-if="page==-4" class="full-screen ">
				<div class="about full-screen" v-html="about">{{about}}</div>
				<img @click="ToCardBag(false)" class="about-back clickable" src="./img/bag/back.png?v=2108102323"
					alt="返回" />
			</div>
			<!-- User Page -->
			<div v-if="page==-2" class="full-screen users">
				<p>感谢 {{jlnum}} 位参与者</p>
				<img v-for="face in jlfaces1" :src="face" alt="头像">
				<img v-for="face in jlfaces2" :src="face" alt="头像">
				<span @click="ChangeUsers()">换一批</span>
				<span @click="ToCardBag(false)">返回</span>
			</div>
			<!-- Bag Page -->
			<div v-if="page==-1" class="full-screen bag">
				<!-- Music Button -->
				<img @click="Music(!silence)" class="music" :style="silence?'-webkit-animation:none;':''"
					src="./img/home/play.png?v=2108102323" alt="音乐" />
				<img class="pos-top untouch" src="./img/bag/bag-post.png?v=2108102323" alt="卡包背景" />
				<img @click="ToCardBag(false)" class="bag-back clickable" src="./img/bag/back.png?v=2108102323"
					alt="返回" />
				<div class="bag-list">
					<div v-for="card in cardBag" class="clickable" @click="Coupon()">
						<img src="./img/bag/icon-card.png?v=2108102323" alt="LOGO">
						<p class="font-orange">{{card}}</p>
					</div>
					<div v-if="maxScore == 6&&!isEnd" class="clickable">
						<img src="./img/bag/icon-jl.png?v=2108102323" alt="LOGO">
						<p class="font-orange">锦鲤抽奖资格</p>
					</div>
				</div>
				<p class="bag-tips">*点击优惠券前往小米商城使用</p>
				<img class="bag-subscribe" src="./img/bag/subscribe.png?v=2108102323" alt="关注雷军" />
			</div>

			<!-- Home Page -->
			<div v-if="page==0" class="full-screen anim-fadein" style="z-index:80;">
				<!-- Music Button -->
				<img @click="Music(!silence)" class="music" :style="silence?'-webkit-animation:none;':''"
					src="./img/home/play.png?v=2108102323" alt="音乐" />
				<img class="pos-top untouch" src="./img/home/home-post.png?v=2108102323" alt="海报" />
				<img class="home-start clickable" @click="ToAnswerPage()" src="./img/home/home-start.png?v=2108102323"
					alt="开始答题" />
				<p class="home-about" @click="ShowAbout()">活动规则></p>
				<img class="home-tobag clickable" @click="ToCardBag(true)" src="./img/home/home-tobag.png?v=2108102323"
					alt="我的奖品" />
			</div>

			<!-- Exam Page -->
			<div v-if="page==0||page==1" class="full-screen"
				:style="(page==0?'':'-webkit-animation: FadeInLong 2s forwards;')">
				<!-- Music Button -->
				<img @click="Music(!silence)" class="music" :style="silence?'-webkit-animation:none;':''"
					src="./img/home/play.png?v=2108102323" alt="音乐" />
				<div v-for="index of 6" class="pos-full exam-background anim-fadein" :style="'z-index:'+(-index)+' !important;background-image:url(./img/exam/s'+index+'.png?v=2108102323);'
						+(questionPoint<=index?'':'-webkit-animation:FadeOut 0.5s forwards')"></div>
				<div class="exam-area">
					<div class="exam-question font-blue">
						<img :src="'./img/exam/q('+questionPoint+').png?v=2108102323'">
						<p>{{nowQuestion.question}}</p>
					</div>
					<div v-for="(option,index) in nowQuestion.options" class="exam-option font-blue"
						@click="PickOption(index)"
						:class="(index==nowChoosed)?(nowAnswer==nowChoosed?'exam-picked':'exam-error'):''">
						<span>{{option}}</span>
						<img :src="'./img/exam/o('+index+').png?v=2108102323'" alt="选项" />
					</div>
				</div>
			</div>

			<!-- Summary Page -->
			<div v-if="page==1||page==2" class="full-screen bag" :style="page==2?'-webkit-animation: FadeIn 1s forwards;':''">
				<img class="summary-saved" @click="DownLoadImg()"
					:src="'./img/summary/saved('+score+').png?v=2108102323'" alt="保存用">
				<img class="pos-top untouch"
					:style="page==2?'-webkit-animation: FadeIn 1s forwards;':''"
					style="margin-top: 0.5rem;"
					:src="'./img/summary/show('+score+').png?v=2108102323'" alt="生成结果" />
				<img v-if="!showTalk" class="summary-tip untouch" src="./img/summary/tip.png?v=2108102323" alt="提示" />
				<img v-if="showTalk" style="opacity: 0.01;-webkit-animation: FadeIn 2s forwards;"
					class="summary-tip2 untouch" src="./img/draw/talk.png?v=2108102323" alt="提示" />
				<div v-if="!showTalk" class="summary-draw">
					<img v-if="score == 6" src="./img/summary/pop.png?v=2108102323" alt="锦鲤" />
					<img @click="DoDraw()" class="clickable" style="-webkit-animation: anim-blinkBtn 1s infinite;"
						src="./img/summary/draw.png?v=2108102323" alt="抽奖按钮" />
				</div>
				<div v-if="showTalk" class="summary-draw2 summary-btn anim-fadein">
					<div class="summary-btn-btn" @click="ToCardBag(true)">
						<img class="untouch summary-btn-btn-img" src="./img/draw/accpt.png?v=2108102323" alt="确认" />
					</div>
					<div class="summary-save">
						<img class="untouch" src="./img/draw/tip2.png?v=2108102323" alt="提示" />
						<img @click="DownLoadImg()" :src="'./img/summary/saved('+score+').png?v=2108102323'" alt="保存用">
					</div>
					<div class="summary-btn-btn" @click="ShareMsg()">
						<img class="untouch summary-btn-btn-img" src="./img/draw/share.png?v=2108102323" alt="分享" />
					</div>
				</div>
			</div>

			<!-- Submit -->
			<div v-if="showSubmit" class="pos-full anim-fadein" style="z-index: 100;">
				<div class="dailog-draw-dailog">
					<div class="submit" v-html="paper">{{paper}}</div>
					<img style="width: 100%;" src="./img/submit/background.png?v=2108102323" alt="弹窗" />
					<div class="dailog-jl-btn">
						<img class="clickable" @click="Draw()" src="./img/submit/submit.png?v=2108102323" alt="下一步" />
					</div>
					<img class="dailog-draw-cancel clickable" @click="HideSubmitDailog()"
						src="./img/DialogClose.png?v=2108102323" alt="关闭" />
				</div>
			</div>

			<!-- Dailog-Draw -->
			<div v-if="showDailogDraw" class="pos-full anim-fadein" style="z-index: 100;">
				<div class="dailog-draw-dailog">
					<img class="dailog-draw-logo" src="./img/bag/icon-card.png?v=2108102323" alt="LOGO" />
					<img style="width: 100%;" src="./img/draw/window.png?v=2108102323" alt="弹窗" />
					<span class="font-orange">{{prize}}</span>
					<div class="dailog-jl-btn">
						<img class="clickable" @click="HideDrawDailog()" style="width: 4.5rem;"
							src="./img/draw/button.png?v=2108102323" alt="下一步" />
					</div>
					<img class="dailog-draw-cancel clickable" @click="HideDrawDailog()"
						src="./img/DialogClose.png?v=2108102323" alt="关闭" />
				</div>
			</div>

			<!-- Dailog-JL-->
			<div v-if="showDailogJL" class="pos-full anim-fadein" style="z-index: 100;">
				<div class="dailog-draw-dailog">
					<img style="width: 100%;"
						:src="'./img/Dialog_Draw_'+(isJL?'Win':(maxScore!=0?'Lose':'New'))+'.png?v=2108102323'"
						alt="弹窗" />
					<div class="dailog-jl-user">
						<p v-if="!isJL">中奖者是 {{jlname}}</p>
						<img :src="jlface" alt="头像">
					</div>
					<div class="dailog-jl-thank">
						感谢 <b>{{jlnum}}</b> 位参与者
						<div class="dailog-jl-faces">
							<div><img v-for="face in jlfaces1" :src="face" alt="头像"></div>
							<div><img v-for="face in jlfaces2" :src="face" alt="头像"></div>
						</div>
					</div>
					<div class="dailog-jl-btn">
						<img @click="ShowUsers()" class="clickable"
							:src="'./img/Dailog_Draw_'+(isJL?'Accept2':'ShowMore')+'.png?v=2108102323'" alt="下一步" />
					</div>
					<img class="dailog-draw-cancel clickable" @click="HideDrawJL()"
						src="./img/DialogClose.png?v=2108102323" alt="关闭" />
				</div>
			</div>

			<!-- Mask/Loading -->
			<div v-if="showShare" @click="HideShare()" style="z-index:200;" class="mask pos-full"></div>
			<img v-if="showShare" class="share" src="./img/ShareIcon.png?v=2108102323" alt="分享提示">
			<div v-if="showLoading" class="loading">
				<img class="pos-center" src="./img/loading/loading-icon.png?v=2108102323" alt="加载中" />
			</div>
			<div v-if="showMask" class="mask pos-full"></div>
			<div v-if="showMiniDailog" class="miniDailog">{{miniDailog}}</div>
		</div>

		<!-- Main JS -->
		<script src="js/mainapp.js?2108102323" charset="utf-8"></script>
	</body>
</html>
